body {
  background: #fadadd;
}

kbd {
  background: #fff;

  display: inline-block;
  width: 50px;
  height: 200px;

  border: solid #808080;

  text-align: center;
}

.container {
  width: fit-content;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
